 *{
    padding: 0;
    margin: 0;
}
.banner{
    background-image: url("https://img.freepik.com/free-photo/coworkers-office-working-together_23-2148352532.jpg?t=st=1723098909~exp=1723102509~hmac=587d90531a59b4c7aa39f25aeb2f09969ca5c5f553b31aa15c0ae7687f1fc3f9&w=900");
    background-size: cover;
    height: 100vh;
    width: 70%;
   padding: 10px;
}
.banner h1{
    position: relative;
    font-family: Raleway;
    font-weight: 700;
    font-size: 46px;
    top: 100px;
    left: 264px;
}
.banner p{
    position: relative;
    top: 104px;
    left: 266px;
}
.banner button{
    position: relative;
    top: 158px;

    left: 578px;
    color: white;
    background-color: orange;
    width: 150px;
}
.services {
    background-color: bisque;
    width: 100vw;
    height: 500px;   
}
.services h5{
    font-family:Nunito Sans;
    font-weight: 100;
}
.services img{
    width: 10%;
    height: 10%;
}
.info{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.info h6{
    font-family: nunito sans;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(197, 161, 106);
}
.info h2{
    font-family: rubik;
    font-weight: 300;
}
.info a{
    text-decoration: none;
    color: sandybrown;
    margin-left: 420px;
}
.info img{
    position: relative;
    left: 160px;
    top:100px;
    border-radius: 50%;
    width: 300px;
    height: 300px; /* Ensures the image maintains its aspect ratio */
    object-fit: cover;
}